{
  "semi": true,
  "tabWidth": 4,
  "useTabs": true,
  "printWidth": 160,
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "useEditorConfig": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": [
        "*.yml",
        "*.yaml",
        "*.md",
        "*.json"
      ],
      "options": {
        "useTabs": false,
        "tabWidth": 2,
        "singleAttributePerLine": false
      }
    },
    {
      "files": [
        "*.vue"
      ],
      "options": {
        "semi": true,
        "useTabs": true,
        "tabWidth": 2
      }
    }
  ]
}